h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-ff);
  color: var(--heading-color);
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  line-height: calc(74 / 64);
  margin-bottom: 1.875rem;
  max-width: 570px;
  width: 100%;
}

h2 {
  font-size: 3rem;
  line-height: calc(58 / 48);
  max-width: 570px;
  width: 100%;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: calc(34 / 24);
}

@media (max-width: 1135px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
}
